<a href="https://colab.research.google.com/github/poorvautturkar25/Python/blob/main/pythonworkshop2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Sales Performance Analysis (Highest and Lowest Sales)
ðŸ“Œ A company records monthly sales in an array: [5000, 7000, 8000, 6500, 7200,
9000, 8500]. Find and print the highest and lowest sales values.

In [ ]:
sales = [5000, 7000, 8000, 6500, 7200, 9000, 8500]

highest_sales = max(sales)
lowest_sales =  min(sales)

print(f"highest sales are {highest_sales}")
print(f"lowest sales are {lowest_sales}")

highest sales are 9000
lowest sales are 5000

2. Reshape a 1D Array into a 2D Matrix
ðŸ“Œ A company's quarterly sales data is stored in a 1D NumPy array: [1000, 1200, 1500,
1800, 2000, 2100, 2500, 2700]. Convert it into a 2D array with 4 rows and 2 columns
representing sales per quarter.

In [ ]:
import numpy as np
arr = np.array([1000,1200,1500,1800,2000,2100,2500,2700])
arr_2d= arr.reshape(4,2)
print(arr_2d)

[[1000 1200]
 [1500 1800]
 [2000 2100]
 [2500 2700]]

3. Calculate Total Revenue from Products Sold
ðŸ“Œ A store sells 4 types of products. The quantity sold and the price per unit are stored as
NumPy arrays:
quantities = np.array([10, 15, 7, 20]) # Number of units sold
prices = np.array([50, 40, 100, 30]) # Price per unit

In [ ]:
import numpy as np

quantities = np.array([10, 15, 7, 20])
prices = np.array([50, 40, 100, 30])

total_revenue = np.sum(quantities * prices)
print(f"total revenue is {total_revenue}")

total revenue is 2400

4. Find Students Who Passed (Marks >= 40)
ðŸ“Œ A class has students' marks stored in an array: [35, 60, 42, 75, 29, 90, 55]. Find
and print the marks of students who passed (â‰¥ 40).

In [ ]:
import numpy as np
marks=np.array([35, 60, 42, 75, 29, 90, 55])

for mark in marks:
  if mark >=40:
    print(mark)

60
42
75
90
55

5. Find the Most Frequent Element in an Array
ðŸ“Œ Given a NumPy array [1, 2, 2, 3, 3, 3, 4, 4, 4, 4], determine which element
appears the most times.

In [ ]:
import numpy as np
arr =np.array([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])
np.unique(arr)

The most Frequent element in array is [1 2 2 3 3 3 4 4 4 4]

6. Normalize an Array (Scaling Values Between 0 and 1)
ðŸ“Œ You have an array of exam scores: [50, 80, 90, 60, 75, 85]. Normalize them
between 0 and 1 using Min-Max Scaling.

In [ ]:
scores = [50, 80, 90, 60, 75, 85]
scores_array = np.array(scores)

min_score = np.min(scores_array)
max_score = np.max(scores_array)

normalized_scores = (scores_array - min_score) / (max_score - min_score)

print(f"Normalized Scores are {normalized_scores}")

Normalized Scores are [0.    0.75  1.    0.25  0.625 0.875]

7. Load the Dataset and Display Basic Info
ðŸ“Œ You are given the Social_Network_Ads.csv dataset. Load it into a Pandas DataFrame
and display the first 5 rows along with dataset summary information.